@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not belong to any engineers</p>
}
else
{
  <h4>Engineers the machine belongs to: @(Model.JoinEntities.Count)</h4>
  <ol>
    @foreach(var join in Model.JoinEntities)
      {
        <table>
          <tr>
          <td> 
            @Html.ActionLink(join.Engineer.Name , "Details", "Engineers", new { id = join.Engineer.EngineerId})
          </td>
          <td>
            <form 
              asp-action="DeleteEngineer"
              asp-controller="Machines"
              >
              <input id="joinId" name="joinId" type="hidden" value=@(join.EngineerMachineId)>
              <input type="submit" class="btn btn-dark" value="Delete"/>
            </form>
          </td>
        </tr>
      </table>
    }
  </ol>
}

<p>
  <a
    asp-controller="Machines"
    asp-action="AddEngineer"
    asp-route-id="@Model.MachineId"
    class="btn btn-primary"
  >
    <i class="bi bi-plus-square-fill"></i> Engineer
  </a>
</p>
<p>
  <a
    asp-controller="Machines"
    asp-action="Edit"
    asp-route-id="@Model.MachineId"
    class="btn btn-primary"
  >
    <i class="bi bi-pencil-square"></i> Machine
  </a>
</p>
<p>
  <a
    asp-controller="Machines"
    asp-action="Delete"
    asp-route-id="@Model.MachineId"
    class="btn btn-primary"
  >
    <i class="bi bi-trash-fill"></i> Machine
  </a>
</p>
<p>
  <a
    asp-controller="Machines"
    asp-action="Index"
    class="btn btn-primary"
  >
    <i class="bi bi-house-fill"></i> Machines
  </a>
</p>