@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine</h2>




<h4>Add a Machine to this engineer: @Html.DisplayFor(model => model.Name)</h4>
@if (ViewBag.MachinesList.Count == 0) 
{
  <p>No Machines Added yet</p>
}
else 
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
  }
}

<p>
  <a
  asp-controller="Machines"
  asp-action="Create"
  class="btn btn-primary"
  >
    Create new Machine
  </a>
</p>
<p>
  <a
  asp-controller="Engineers"
  asp-action="Details"
  asp-route-id="@Model.EngineerId"
  class="btn btn-primary"
  >
    Back to [@(Model.Name)] Details
  </a>
</p>
<p>
  <a
  asp-controller="Engineers"
  asp-action="Index"
  class="btn btn-primary"
  >
    Back to Engineers
  </a>
</p>