@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer does not have any Machines</p>
}
else
{
  <h4>Machines this Engineer is licensed to fix: @(Model.JoinEntities.Count)</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
      <li>
        @Html.ActionLink(join.Machine.Name, "Details", "Machines", new { id = join.Machine.MachineId})
        @using (Html.BeginForm("DeleteMachine", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" class="btn btn-dark" value="Delete"/>
        }
      </li>
  }
  </ul>
}


<p>
  <a
    asp-controller="Engineers"
    asp-action="AddMachine"
    asp-route-id="@Model.EngineerId"
    class="btn btn-primary"
  >
    <i class="bi bi-plus-square-fill"></i> Machine
  </a>
</p>
<p>
  <a
    asp-controller="Engineers"
    asp-action="Edit"
    asp-route-id="@Model.EngineerId"
    class="btn btn-primary"
  >
    <i class="bi bi-pencil-square"></i> Engineer
  </a>
</p>
<p>
  <a
    asp-controller="Engineers"
    asp-action="Delete"
    asp-route-id="@Model.EngineerId"
    class="btn btn-primary"
  >
    <i class="bi bi-trash-fill"></i> Engineer
  </a>
</p>
<p>
  <a
    asp-controller="Engineers"
    asp-action="Index"
    class="btn btn-primary"
  >
    <i class="bi bi-house-fill"></i> Engineers
  </a>
</p>


