@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  <input class="btn btn-info" type="submit" value="Save" />
}
<p>
  <a
  asp-controller="Engineers"
  asp-action="Details"
  asp-route-id="@Model.EngineerId"
  class="btn btn-primary"
  >
    Back to [@(Model.Name)] Details
  </a>
</p>
<p>@Html.ActionLink("Back to Engineers", "Index")</p> 